@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container5{
    width: 28rem;
    height: 30rem;
    position: relative;
    border-radius: 1em;
    backdrop-filter: blur(1rem);
    box-shadow: 0 0.188em 1.55em rgb(252, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container5 .logo_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container5 .logo{
    width: 6rem;
    height: 5.5rem;
    margin-top: 1rem;
}


 .container5  .lock_icon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
 }

.container5 .lock{
    width: 5rem;
    height: 5rem;
}
.container5 h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.603);
    font-size: 1rem;
    margin-top: 4rem;
}

.container5 button{
    width: 30%;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    background-color: #b1acac19;
    color: rgba(53, 53, 146, 0.929);
    position: absolute;
    top: 80%;
    right: 3rem;
}

@media screen and (max-width: 768px){
    .container5{
        width: 23rem;
        height: 25rem;
        position: relative;
        border-radius: 1em;
        backdrop-filter: blur(1rem);
        box-shadow: 0 0.188em 1.55em rgb(252, 245, 245);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .container5 .logo_icon{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .container5 .logo{
        width: 5.5rem;
        height: 5rem;
        margin-top: 0.8rem;
    }
    
    
     .container5  .lock_icon{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.8rem;
     }
    
    .container5 .lock{
        width: 5rem;
        height: 5rem;
    }
    .container5 h1{
        text-align: center;
        color: rgba(255, 255, 255, 0.603);
        font-size: 1rem;
        margin-top: 3rem;
    }
    
    .container5 button{
        width: 30%;
        height: 3rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        cursor: pointer;
        font-weight: 700;
        font-size: 1rem;
        background-color: #b1acac19;
        color: rgba(53, 53, 146, 0.929);
        position: absolute;
        top: 80%;
        right: 3rem;
    }
}

@media screen and (max-width: 480px){
    .container5{
        width: 19rem;
        height: 23rem;
        position: relative;
        border-radius: 1em;
        backdrop-filter: blur(1rem);
        box-shadow: 0 0.188em 1.55em rgb(252, 245, 245);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .container5 .logo_icon{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .container5 .logo{
        width: 5rem;
        height: 4.5rem;
        margin-top: 0.7rem;
    }
    
    
     .container5  .lock_icon{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.5rem;
     }
    
    .container5 .lock{
        width: 4.5rem;
        height: 4.5rem;
    }
    .container5 h1{
        text-align: center;
        color: rgba(255, 255, 255, 0.603);
        font-size: 0.8rem;
        margin-top: 2.5rem;
    }
    
    .container5 button{
        width: 40%;
        height: 3rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        cursor: pointer;
        font-weight: 600;
        font-size: 0.9rem;
        background-color: #b1acac19;
        color: rgba(53, 53, 146, 0.929);
        position: absolute;
        top: 80%;
        right: 2rem;
    }
}

@media screen and (max-width: 365px){
    .container5{
        width: 15rem;
        height: 20rem;
        position: relative;
        border-radius: 1em;
        backdrop-filter: blur(1rem);
        box-shadow: 0 0.188em 1.55em rgb(252, 245, 245);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .container5 .logo_icon{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .container5 .logo{
        width: 4.5rem;
        height: 4rem;
        margin-top: 0.5rem;
    }
    
    
     .container5  .lock_icon{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
     }
    
    .container5 .lock{
        width: 4rem;
        height: 4rem;
    }
    .container5 h1{
        text-align: center;
        color: rgba(255, 255, 255, 0.603);
        font-size: 0.7rem;
        margin-top: 2rem;
    }
    
    .container5 button{
        width: 40%;
        height: 2.5rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        cursor: pointer;
        font-weight: 600;
        font-size: 0.9rem;
        background-color: #b1acac19;
        color: rgba(53, 53, 146, 0.929);
        position: absolute;
        top: 80%;
        right: 2rem;
    }
}