@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.logo_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    width: 5rem;
    height: 4.5rem;
    margin: 0.5rem;
}

.container2{
    width: 30rem;
    height: 40rem;
    position: relative;
    border-radius: 1em;
    backdrop-filter: blur(1rem);
    box-shadow: 0 0.188em 1.55em rgb(156,156,156);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container2 h1{
    font-size: 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.868);
}

.input-box2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 3rem;
    margin: 1rem 0;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    padding: 0 2.1rem 0 0.3rem;
    color: whitesmoke;
}

.input-box2 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #ffffffa2;
}

.input-box2 input::placeholder{
    color: rgba(255, 255, 255, 0.53);
    font-size: 0.8rem;
    font-weight: 600;
    background: none;
    font-family: "Poppins" , sans-serif;
}

.input-box2 .icon{
    position: absolute;
    right: 5.5rem;
    color: white;
}

.remember-forgot2{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin: -0.5rem 0 0.9rem;
    color: #ffffff93;
}

.remember-forgot2 label input{
    accent-color: rgb(5, 89, 243);
    margin: 0 0.1rem;
}

.remember-forgot2 a{
    color: #ffffff93;
    text-decoration: none;
}

.remember-forgot2 a:hover{
    text-decoration: underline;
}

.login-btn2{
    width: 100%;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    background-color: #b1acac19;
    color: rgba(227, 227, 238, 0.929);
}

.register-link{
    text-align: center;
    font-size: 1rem;
    margin: 1rem 0 0.4rem;
    color: #ffffff71;
}

.register-link a{
    text-decoration: none;
    color: #ffffff93;
}

.register-link a:hover{
    text-decoration: underline;
}

@media(max-width:768){
    .container2{
        width: 25rem;
        height: 30rem;
    }

    .container2 h1{
        font-size: 1.2rem;
    }

    .logo{
        width: 5rem;
        height: 4.5rem;
        margin: 0.5rem;
    }

    .input-box2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16rem;
        height: 3rem;
        margin: 0.7rem 0;   
    }

    .input-box2 .icon{
        position: absolute;
        right: 5rem;
        color: white;
    }

    .remember-forgot2{
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
    }

    .login-btn2{
        width: 100%;
        height: 2.2rem;
        font-weight: 700;
        font-size: 0.7rem;
        background-color: #ffffffa6;
        color: rgba(28, 28, 159, 0.929);
     }

     .register-link{
        text-align: center;
        font-size: 0.8rem;
        margin: 1.3rem 0 0.4rem;
        color: #ffffff71;
    }
    
}

@media(max-width:480px){

    .logo{
        width: 4rem;
        height: 3.5rem;
        margin: 0.5rem;
    }
    
    .container2{
        height: 30rem;
        width: 20rem;
    }

    .container2 h1{
        font-size: 1rem;
    }

    .input-box2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15rem;
        height: 2.5rem;
        margin: 0.4rem 0;   
    }

    .input-box2 .icon{
        position: absolute;
        right: 3.5rem;
        color: white;
    }

    .remember-forgot2{
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        margin: 0.2rem;
    }

    .login-btn2{
        width: 100%;
        height: 2.3rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        cursor: pointer;
        font-weight: 700;
        font-size: 1rem;
        background-color: #b1acac19;
        color: rgba(53, 53, 146, 0.929);
     }

     .register-link p{
        text-align: center;
        font-size: 0.8rem;
        font-weight: 700;
        margin: 0.2rem;
        color: #ffffff71;
    }
    
}

@media(max-width:365px){

    .logo{
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
    }
    
    .container2{
        height: 28rem;
        width: 17rem;
    }

    .container2 h1{
        font-size: 1rem;
    }

    .input-box2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 13rem;
        height: 2rem;
        margin: 0.7rem 0;   
    }

    .input-box2 .icon{
        position: absolute;
        right: 3rem;
        color: white;
    }

    .remember-forgot2{
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: 0.7rem;
        font-weight: 300;
    }

    .login-btn2{
        width: 100%;
        height: 2rem;
        font-weight: 700;
        font-size: 0.7rem;
        background-color: #ffffffa6;
        color: rgba(28, 28, 159, 0.929);
     }

     .register-link{
        text-align: center;
        font-size: 0.8rem;
        margin: 0.3rem;
        color: #ffffff71;
    }
    
}
